/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/*Variables*/

:root{
    --main-color:#af957d;
    --text-color:#020102;
    --bg-color:#eed9c4;
}
/* custom scroll Bar*/
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}
section{
    padding: 4rem 0 2rem;

}


img{
    width: 100%;
}

body{
    color: var(--text-color);
    background-color:#f6f6f6;
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right:auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow{
    background-color: white;
    box-shadow: 4px 4px 4px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon{
    color: var(--text-color);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}


.logo span{
    color: var(--main-color);
}

.navbar{
    display:flex;
    column-gap: 2rem;
    text-decoration: none;
    margin-left: 5%;
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;

}

.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon{
    font-size: 24px;
    cursor: pointer;
    color: black;
    margin-left: 4%;
}

#cart-icon{
  font-size: 24px;
  cursor: pointer;
  color: black;
}


.button-login{
    padding: 4px 24px;
  border: 2px solid #af957d;
  background: transparent;
  border-radius: 6px;
  margin-top: 1%;
  cursor: pointer;
  color: #020102;
}

.button-login:hover{
    background: none;
}

.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background:white;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid  var(--text-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;

}

.home{
    max-width: 1600px;
    margin:auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items:center;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

*{
    margin: 0px 2px 0px 2px;
    padding: auto;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-size: 16px;
}


.container{
    display: flex;
    margin: -0.5rem 100px;
    margin-left: auto;
    margin-right: auto;    
}

.cart{
    width: 65%;
    margin-top: 5%;
    background-color: #ededed;
}
.top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 30px 0;
}
table{
    width: 100%;
    padding: 10px;
    text-align: center;
}
.table-head{
    color: white;
    background-color: #af957d;
}
.head-img{
    text-align: left;
    padding-left: 7px;
}
.summary{
    background-color: #ededed;
    width: 35%;
    margin-top: 5%;
    margin-left: 20px;
}
.detail{
    margin: 10px 0;
    padding: 0 10px;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

input{
    border: none;
    outline: none;
    width: 100%;
    height: 40px;
    margin: 15px 0;
    padding: 7px;
}
button{
    border: none;
    background-color: black;
    padding: 8px 30px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}
.checkout{
    width: 100%;
    background-color: var(--main-color);
    color: white;
}
button:hover, .checkout:hover{
    background-color:var(--text-color);
}
.img-box{
    margin: 5px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border:  2px solid var(--main-color);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    max-width: 73px;
    max-height: 73px;
    object-fit: contain;
    border-radius: 50%;
}
.img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.fa-trash{
    color: #af957d;
}
.fa-trash:hover{
    color: #af957d;
}