/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/*Variables*/

:root{
    --main-color:#af957d;
    --text-color:#020102;
    --bg-color:#eed9c4;
}
/* custom scroll Bar*/
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}
section{
    padding: 4rem 0 2rem;

}


img{
    width: 100%;
}

body{
    color: var(--text-color);
    background-color: white;
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right:auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow{
    background-color: white;
    box-shadow: 4px 4px 4px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon{
    color: var(--text-color);
}

.heading h2{
    font-size: 36px;
    color: #020102;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500px;
}

.heading h2 span{
    color: #af957d;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}


.logo span{
    color: var(--main-color);
}

.navbar{
    display:flex;
    column-gap: 2rem;
    text-decoration: none;
    margin-left: 5%;
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;

}

.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon{
    font-size: 24px;
    cursor: pointer;
    color: black;
    margin-left: 4%;
}

#cart-icon{
  font-size: 24px;
  cursor: pointer;
  color: black;
}


.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background:white;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid  var(--text-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;

}

.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center left;
    border-bottom:.1rem solid rgba(0, 0, 0, 0.3);
}

.button {
    padding: 6px 24px;
    border: 2px solid #af957d;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
  }
  .button:active {
    transform: scale(0.98);
  }

  .checkout-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    background: linear-gradient(90deg, #ededed 60%, #ededed 40.1%);
  }
  
  .checkout-container form{
    padding:20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
  
  .checkout-container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .checkout-container form .row .col{
    flex:1 1 250px;
  }
  
  .checkout-container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .checkout-container form .row .col .inputBox{
    margin:15px 0;
  }
  
  .checkout-container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
  }
  
  .checkout-container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  
  .checkout-container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .checkout-container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .checkout-container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  
  .checkout-container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .checkout-container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background:#af957d ;
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
    border-color: #af957d;
    border-bottom: #af957d;
    border-right: #af957d;
    border-radius: 25px;
  }
  
  .checkout-container form .submit-btn:hover{
    background: #af957d;
  }
  

  .footer{
    background: #ededed;
    color: black;
    border-top: 2px solid whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.4);
  }
  
  .footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .footer-container .logo{
    color: black;
    margin-bottom: 1rem;
  
  }
  
  .footer-container .footer-box{
    display: flex;
    flex-direction: column;
  }
  
  
  .social{
    display: flex;
    align-items: center;
  }
  
  .social a{
    font-size: 24px;
    color:var(--text-color);
    margin-right: 1rem;
  }
  
  
  .social a:hover{
    color: var(--text-color);
  }
  
  
  .footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
  
  }
  
  
  .footer-box p:hover{
    color:var(--text-color);
    cursor: pointer;
  }
  
  
  .footer-box a,
  .footer-box p{
    color:var(--text-color);
    margin-bottom: 10px;
    text-decoration: none;
    cursor: default;
  }
  
  
  .footer-box a:hover{
    color:var(--text-color);
    cursor: pointer;
  }
  
  
  .copyright{
    padding: 20px;
    text-align: center;
    color: var(--text-color);
    background: #faf9f6;
  }
  
  .copyright p:hover{
    color: var(--text-color);
  }
  