/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/*Variables*/

:root{
    --main-color:#af957d;
    --text-color:#020102;
    --bg-color:#eed9c4;
}
/* custom scroll Bar*/
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}
section{
    padding: 4rem 0 2rem;

}


img{
    width: 100%;
}

body{
    color: var(--text-color);
    background-color: white;
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right:auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow{
    background-color: white;
    box-shadow: 4px 4px 4px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon{
    color: var(--text-color);
}

.heading h2{
    font-size: 36px;
    color: #020102;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500px;
}

.heading h2 span{
    color: #af957d;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}


.logo span{
    color: var(--main-color);
}

.navbar{
    display:flex;
    column-gap: 2rem;
    text-decoration: none;
    margin-left: 5%;
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;

}

.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon{
    font-size: 24px;
    cursor: pointer;
    color: black;
    margin-left: 4%;
}

#cart-icon{
  font-size: 24px;
  cursor: pointer;
  color: black;
}


.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background:white;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid  var(--text-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;

}

.home{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center left;
    border-bottom:.1rem solid rgba(0, 0, 0, 0.3);
}

.button {
    padding: 6px 24px;
    border: 2px solid #af957d;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
  }
  .button:active {
    transform: scale(0.98);
  }


.pop-container{

        width: 500px;
        background:white;
        box-shadow: 0 0 20px 5px rgba(0,0,0,0.15);
        border-radius: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%)scale(1);
        text-align: center;
        padding: 0 30px 30px;
        color: #333;
    }

    .pop-container img{
        width: 100px;
        margin-top: -50px;
        border-radius: 50%;
        box-shadow: 0 2px 5px white;
    }

    .pop-container h1{
        font-size: 38px;
        font-weight: 500;
        margin: 30px 0 10px;
        background: #fff;
    }

    .pop-container button{
        width: 100%;
        margin-top: 50px;
        padding: 10px 0;
        background: #af957d;
        color: #fff;
        border: 0;
        outline: none;
        font-size: 18px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 5px 5px white;
    }

    
   
P{
    background: #d4b895;
    color: #fff;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.15);
    font-size: 16px;
    padding: 12px 50px;
    width: 30%;
    margin-left: 35%;
    border: 0;
    outline: #333;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

p1{
    font-size: 18px;
    background: #fff;
}