/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

/*Variables*/

:root{
    --main-color:#af957d;
    --text-color:#020102;
    --bg-color:#eed9c4;
}
/* custom scroll Bar*/
html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    border-radius: 5rem;
    background: var(--text-color);
}
section{
    padding: 4rem 0 2rem;

}


img{
    width: 100%;
}

body{
    color: var(--text-color);
    background-color:white;
}

.container{
    max-width: 1068px;
    margin-left: auto;
    margin-right:auto;
}

header{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header.shadow{
    background-color: white;
    box-shadow: 4px 4px 4px rgb(15 54 55 / 10%);
    transition: 0.5s ease;
}

header.shadow #search-icon{
    color: var(--text-color);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}

#menu-icon{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}

.logo{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}


.logo span{
    color: var(--main-color);
}

.navbar{
    display:flex;
    column-gap: 2rem;
    text-decoration: none;
    margin-left: 5%;
}

.navbar a{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;

}

.navbar a:hover,
.navbar .active{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#search-icon{
    font-size: 24px;
    cursor: pointer;
    color: black;
    margin-left: 4%;
}

#cart-icon{
    font-size: 24px;
    cursor: pointer;
    color: black;
  }
  
  .button-login{
    padding: 4px 24px;
  border: 2px solid #af957d;
  background: transparent;
  border-radius: 6px;
  cursor: pointer;
  color: #020102;
}

.button-login:hover{
    background: none;
}

.search-box{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background:white;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    border: 1px solid  var(--text-color);
    border-radius: 0.5rem;
    clip-path: circle(0% at 100% 0%);
}

.search-box.active{
    clip-path: circle(144% at 100% 0%);
    transition: 0.4s;
}
.search-box input{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;

}

.home{
    max-width: 1600px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items:center;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center left;
}

.main-wrapper{
    max-height: 100vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1000px;
    min-height: 60px;
    margin-right: 50%;
    padding: 0 1rem;
    margin: 0 auto;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #ededed;
    border-radius: 3px;
    column-gap: 10px;
}
.product-div-left{
    padding: 20px;
}
.product-div-right{
    padding: 20px;
}

.img-container img{
    width: 280px;
    margin: 0 auto;
    display: flex;
    object-fit: contain;
    overflow: hidden;
}
.hover-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.hover-container div{
    border: 2px solid #f6f6f6;
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-color: var(--main-color)!important;
}
.hover-container div:hover{
    border-color: var(--main-color);
}
.hover-container div img{
    width: 50px;
    cursor: pointer;
    
}
.product-div-right span{
    display: block;
}
.product-name{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.product-price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}
.product-rating{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.product-rating span{
    margin-right: 6px;
}
.product-rating span .refund{
    font-size: 15px;
}
.product-description{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}
.btn-groups{
    margin-top: 22px;
}
.btn-groups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-groups button .fas{
    margin-right: 8px;
}
.add-cart-btn{
    background-color: #FF9F00;
    border: 2px solid #FF9F00;
    margin-right: 8px;
}
.add-cart-btn:hover{
    background-color: #fff;
    color: #FF9F00;
}
.buy-now-btn{
    background-color: #000;
    border: 2px solid #000;
}
.buy-now-btn:hover{
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 992px){
    .product-div{
        grid-template-columns: 100%;
    }
    .product-div-right{
        text-align: center;
    }
    .product-rating{
        justify-content: center;
    }
    .product-description{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px){
    .btn-groups button{
        width: 100%;
        margin-bottom: 10px;
    }
}



.booking-form{
    background-color: #ededed;
    position: relative;
    margin-right:55%;
    margin-top: 0%;
    padding: 20px;
    border-radius: 10px;
    max-width: 200px;
    width: 45%;
    
}
.booking-form h2{
    text-align: center;
}
.booking-form form{
    display: flex;
    flex-direction: column;
}
.booking-form input{
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
}
.booking-form button{
    margin-top:10px;
    padding: 10px;
    background-color: #af957d;
    color: white;
    border: 1px solid #af957d;
    border-radius: 10px;
    cursor: pointer;
}
.booking-form button:hover{
    background-color: black;
}

.single-option-selector{
    text-align: center;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    width: 55px;
    flex-direction: column;
    border:1px solid black;
}



.products-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    
}

.products-container .box{
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: 0.5rem;

}

.products-container .box img{
    width: 100%;
    height: 380px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 3rem;
}

.products-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.products-container .box h3{
    font-size: 1.1rem;
    font-weight: 600;
}

.products-container .box span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
}

.products-container .box .bx{
    color: #af957d;
    margin: 0.8rem 0;
}

.products-container .box .btn{
    max-width: 120px;
    border-radius: 20px;
}


.products-container .box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.8rem;
    right: 1rem;
    font-size: 1rem;
    color:var(--text-color);
    background-color: white;
    border:1px solid #f6f6f6;
    border-radius: 7px;
    padding: 5px;
}

.products-container .box .details:hover{
    background:var(--main-color);
    text-decoration: none;
}

.heading{
    text-align: center;
    color: #020102;
    font-size: 24px;
}
.heading span{
    color: #af957d;
    font-size: 34px;
}


.button{
    background-color: white;
    text-decoration: none;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}
.button:hover{
    background: var(--main-color);
}

.view-btn{
    border-radius: 4px;
    background-color: white;
    border: none;
    border-radius: 25px;
    color: var(--text-color);
    text-align: center;
    margin-left: 45%;
    font-size: 20px;
    padding: 16px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 19px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  .view-btn{
    cursor: pointer;
    display: inline-block;
    margin-left: 45%;
    margin-top: -5%;
    position: relative;
    transition: 0.5s;
  }
  
  .view-btn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .view-btn:hover{
    padding-right: 24px;
    background: var(--main-color);
    padding-left:8px;
  }
  
  .view-btn:hover:after {
    opacity: 1;
    right: 10px;
  }



  .footer{
    background: #ededed;
    color: black;
    border-top: 2px solid whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.4);
  }
  
  .footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  
  .footer-container .logo{
    color: black;
    margin-bottom: 1rem;
  
  }
  
  .footer-container .footer-box{
    display: flex;
    flex-direction: column;
  }
  
  
  .social{
    display: flex;
    align-items: center;
  }
  
  .social a{
    font-size: 24px;
    color:var(--text-color);
    margin-right: 1rem;
  }
  
  
  .social a:hover{
    color: var(--text-color);
  }
  
  
  .footer-box h3{
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
  
  }
  
  
  .footer-box p:hover{
    color:var(--text-color);
    cursor: pointer;
  }
  
  
  .footer-box a,
  .footer-box p{
    color:var(--text-color);
    margin-bottom: 10px;
    text-decoration: none;
    cursor: default;
  }
  
  
  .footer-box a:hover{
    color:var(--text-color);
    cursor: pointer;
  }
  
  
  .copyright{
    padding: 20px;
    text-align: center;
    color: var(--text-color);
    background: #faf9f6;
  }
  
  .copyright p:hover{
    color: var(--text-color);
  }
  